<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    th:class="'theme-' + ${session.theme != null ? session.theme : 'light'}"
>
<head th:replace="~{client/layouts/head :: head}"></head>
<body>
    <header th:replace="~{client/layouts/header :: header}"></header>
    <main>
        <div class="container mt-3">
            <th:block th:replace="~{client/layouts/notice :: noticeScript}"></th:block>
            <div th:replace="~{::content}"></div>
        </div>
    </main>
    <footer th:replace="~{client/layouts/footer :: footer}"></footer>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/toast.js"></script>
    <script src="/js/auth/authentication.js"></script>
    <script src="/js/settings/settings.js"></script>
</body>
</html>