<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{client/layouts/base}">
<div th:fragment="content">
    <h1>Login</h1>
    <form method="post" action="/login" th:object="${loginDto}" data-ajax="true">
        <div class="mb-3">
            <label for="username" class="form-label" th:text="#{login.input.username}">Username:</label>
            <input type="text" id="username" th:field="*{username}" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" id="password" th:field="*{password}" class="form-control" required>
        </div>
        <a href="/forgot-password">Forgot Password?</a>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
</html>