<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{client/layouts/base}">
<div th:fragment="content">
    <h1>Register</h1>
    <form method="post" action="/register" th:object="${registerDto}">
        <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <input type="text" id="username" th:field="*{username}" class="form-control" required>
            <div th:if="${#fields.hasErrors('username')}" class="text-danger" th:errors="*{username}"></div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" id="email" th:field="*{email}" class="form-control" required>
            <div th:if="${#fields.hasErrors('email')}" class="text-danger" th:errors="*{email}"></div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" id="password" th:field="*{password}" class="form-control" required>
            <div th:if="${#fields.hasErrors('password')}" class="text-danger" th:errors="*{password}"></div>
        </div>
        <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirm Password:</label>
            <input type="password" id="confirmPassword" th:field="*{confirmPassword}" class="form-control" required>
            <div th:if="${#fields.hasErrors('confirmPassword')}" class="text-danger" th:errors="*{confirmPassword}"></div>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
    <p th:if="${#fields.hasGlobalErrors()}" class="text-danger mt-2" th:each="err : ${#fields.errors('global')}" th:text="${err}"></p>
</div>
</html>